#submit{
    display: block;
    margin: 10px;
    margin-top: 25px;
}

#displayform{
    margin: 10px;
    margin-top: 50px;
}
input[ type="radio"]{
    margin-left : 50px;
}

.student{
    margin-top: 10px;
}